.laptop-container{
    position: absolute;
    width: calc(150px + 5vw);
    max-width: 250px;
    animation: bottomUp 1200ms ease-out;
    z-index: 9990;
    bottom: 0;
    left: calc((90vw - 75px) / 2);

    transition: transform 500ms linear;
       
}

.laptop-container:hover{
    transform: scale(1.7);
}



.laptop-image{
    width: 100%;
}

.laptop-screen{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    top: 0%;
    padding: 3px;

    background-color: rgba(70, 164, 133, 0.5);
}

.windows{
    position: absolute;
    width: 97%;
    height: 95%;
    z-index: 0;
}

.vsc-con{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 0;
    top: 40%;
    left: 40%;
    width: 35px;
    z-index: 50;
    font-size: 0.7rem;
    transition: all 200ms ease-in;
    color: #fff;
    /* background-color: rgb(255, 255, 255); */
}
.vsc-con:hover{
    background: rgba(255, 255, 255, 0.3);
}

.vsc-logo{
    width: 100%;
}

.vscScreen{
    position: absolute;
    width: 97%;
    height: 95%;
    overflow: hidden;

    background-color: bisque;
    z-index: 100;
    transition: all 500ms ease-out;
    background: rgb(27, 27, 27);

}

.vscScreen.show{
    animation: openUp 200ms linear;
}
.vscScreen.hide{
    animation: closeDown 200ms linear;
}

.vsc-top{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    padding: 3px;
    height: 15%;
    margin: 0;
    z-index: 40;
    overflow: hidden;

    background: rgb(27, 27, 27);
}

.vsc-button{
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    z-index: 51;
    transition: all 200ms ease-in;
    cursor: pointer;
    color: #000;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.vsc-button:hover{
    transform: scale(1.1);
}

.vsc-body{
    width: 100%;
    height: 85%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.2em;
    padding: 5px;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    z-index: -9999;

    background: rgb(27, 27, 27);
}

.class{
    color: green;
    font-style: bold;
}
.blue{
    color: rgb(77, 77, 137);
}
.lblue{
    color: lightblue;
}
.def{
    color: rgb(191, 196, 38);
}
.code-line{
    color: rgb(255, 255, 255);
}
.return{
    color: purple;
}
.string{
    color: rgb(98, 50, 50);
}

.indent-1{
    padding-left: 6px;
}
.indent-2{
    padding-left: 12px;
}
.indent-3{
    padding-left: 18px;
}







/* *************** ANIMATIONS ********************* */


@keyframes bottomUp {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(5%);
    }
}

@keyframes openUp {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}
@keyframes closeDown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.1);
    }
}